.handwash {
  padding: 0 7rem 4rem;
  &-main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 4rem;
    &-box {
      position: relative;
      padding: 2rem;
      text-align: center;
      background: $white;
      border: $boder;
      box-shadow: $boxShadow;
      span {
        position: absolute;
        content: "";
        top: -1.5rem;
        left: -1.6rem;
        padding: 0.5rem 1rem;
        color: #fff;
        background: #ff4f5b;
        border-radius: 50%;
        font-size: 1.7rem;
      }
      img {
        width: 50%;
        object-fit: cover;
        margin: auto;
      }
      h3 {
        font-size: 2.5rem;
        color: $graydark;
        line-height: 5rem;
        text-transform: capitalize;
      }
    }
  }
  @include maxWidth(991px) {
    html {
      font-size: 55%;
    }
    padding: 2rem;
  }

  @include maxWidth(450px) {
    html {
      font-size: 50%;
    }
  }
}
