$red: #ff4f5b;
$white: #fff;
$bg: #f9f9f9;
$graydark: #666;
$gray: #999;
$grayLight: #ccc;
$bgdark: #222;
$boder: 0.1rem solid rgba(0, 0, 0, 0.1);
$boderTop: 0.1rem solid #fff3;
$boxShadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
